<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0 ">
                <div class="navigation">
                    <nav class="navbar  fixed-top  navbar-expand-lg ">
                        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">

                                <li class="<%= path==='/' ? 'nav-item active': 'nav-item' %>">
                                    <a class="nav-link" href="/">Shop</a>
                                </li>

                                <li class="<%= path==='/shop/products' ? 'nav-item active': 'nav-item' %>">
                                    <a class="nav-link" href="/shop/products">Products</a>
                                </li>


                                <li class="<%= path==='/shop/cart' ? 'nav-item active': 'nav-item' %>">
                                    <a class="nav-link" href="/shop/cart">Cart</a>
                                </li>

                                <li class="<%= path==='/shop/order' ? 'nav-item active': 'nav-item' %>">
                                    <a class="nav-link" href="/shop/order">Order</a>
                                </li>

                                <li class="<%= path==='/shop/Checkout' ? 'nav-item active': 'nav-item' %>">
                                    <a class="nav-link" href="/shop/Checkout">Checkout</a>
                                </li>

                                <li class="<%= path==='/admin/add-product' ? 'nav-item active': 'nav-item' %>">
                                    <a class="nav-link" href="/admin/add-product">Add Product</a>
                                </li>

                                <li class="<%= path==='/admin/products' ? 'nav-item active': 'nav-item' %>">
                                    <a class="nav-link" href="/admin/products">Admin Products</a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>