<%- include('../include/header.ejs') %>
    <%- include('../include/navigation.ejs') %>
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <% if (items) {%>

                        <% if(items.length > 0) { %>

                            <% for(let item of items) {%>

                                <h5 class="mt-3">
                                    <%= item.productId.title%>
                                        <small> (<%= item.quantity%>)</small>
                                </h5>
                                <p>price: <%= item.productId.price%></p>

                                <form action="/cart/delete" method="POST">
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                    <input type="hidden" name="cartItemId" value="<%= item._id %>">
                                </form>

                                <% }%>
                                    <hr>
                                    <p>
                                        Total Price:
                                        <%= items.totalPrice %> Tk
                                    </p>
                                    <% } else{%>
                                        <h1>NO PRODUCT</h1>
                                        <% }%>
                                            <% } else{%>
                                                <h1>CART NOT CREATE YET.</h1>
                                                <%}%>

                                                

                                <form action="/shop/order" method="POST">
                                    <% if ( items && items.length > 0) { %>
                                        <hr>
                                        <button class="btn btn-success">Place order</button>
                                    <% } %>
                                </form>
                </div>
                
            </div> 
        </div>

        <%- include('../include/end.ejs')%> 