<%- include('../include/header.ejs') %>
    <%- include('../include/navigation.ejs') %>
        <div class="container">
            <div class="row">
                <% if (items.length > 0) { %>
                    <% for (let item of items) { %>
                        <div class="col-md-4 col-xs-12 col-sm-6 mt-3">
                            <div class="card">
                                <img class="card-img-top" src="<%= item.imageUrl%>" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= item.title %>
                                    </h5>
                                    <p>price:
                                        <%= item.price%> Tk
                                    </p>
                                    <p class="card-text">
                                        <%= item.description%>
                                    </p>
                                    <a href="/shop/product-details/<%= item._id%>" class="btn btn-primary btn-sm ">Details</a>
                                    <form action="/cart" method="POST">
                                        <button href="#" class="btn btn-primary btn-sm mt-2">Add to cart</button>
                                        <input type="hidden" name="id" value="<%= item._id%>">
                                    </form>

                                </div>
                            </div>
                        </div>
                        <% } } else { %>
                            <h1>No product .</h1>
                            <% } %>
            </div>
        </div>
        <%- include('../include/end.ejs')%>