
<%- include('../include/header.ejs') %>
<%- include('../include/navigation.ejs') %>


<div class="container">
    <div class="row">
        <div class="col-md-12 text-center pt-3 pb-3 mb-3">
            <span style="font-size: 30px; font-weight: bold">Confirm your order</span>
            <hr>
        </div>
        <% if(products && products.length > 0) { %>
            <% for (let order of products) { %>
                <div class="col-md-6"> 
                    <div class="card" style="border: 0;">
                        <div class="card-body">
                        <h5 class="card-title">order_id# <%= order._id %></h5>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                        <ul class="list-group">
                            <!-- <% order.cart.item.forEach(function(prod) { %>
                                <li class="list-group-item">
                                    <%= prod.title %>  (<%= prod.quantity %>)
                                </li>
                             <% }) %> -->
                        </ul> 
                        </div>  
                    </div>
                </div>
            <% } %>
        <% } else { %>

            <p>Order not create yet.</p>

            <% } %>
    </div>
</div>
 


<%- include('../include/end.ejs')%>
