<%- include('../include/header.ejs') %>
    <%- include('../include/navigation.ejs') %>


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        <%= product.title%>
                    </h1>
                    <hr>
                    <img width="600px" src="<%= product.imageUrl%>" alt="">
                    <p>
                        <%= product.description%>
                    </p>
                    <p>price:
                        <%= product.price%> Tk
                    </p>


                    <form action="/cart" method="POST">
                        <button class="btn btn-primary" type="submit">Add to cart</button>
                        <input type="hidden" name="id" value="<%= product._id %>">
                    </form>

     
                </div>
            </div>
        </div>



        <%- include('../include/end.ejs')%>