body {
    margin: 0;
    padding: 0;
}

.navigation {
    margin-bottom: 60px;
}

.navigation .navbar {
    background: #005200;
    margin-bottom: 100px;
}

.navigation .nav {
    height: 60px;
    align-items: center;
}

.navigation .nav-item a.nav-link {
    color: #ffffff;
    font-size: 14px;
}

.navigation .nav-item.active a {
    color: yellow;
}

.card img {
    height: 200px;
}