<%- include('../include/header.ejs') %>
    <%- include('../include/navigation.ejs') %>
        <div class="container">
            <div class="col-md-12 col-12">


                <div class="jumbotron">
                    <form action="/admin<% if(edited) { %>/edit-product<%} else{%>/add-product<%}%>" method="POST">
                        <div class="form-group">
                            <label>Product Name</label>
                            <input type="text" class="form-control" name='title' value="<% if (edited){%><%= product.title%><%}%>">
                        </div>

                        <div class="form-group">
                            <label>Image url</label>
                            <input type="text" class="form-control" name='imageUrl' value="<% if (edited){%><%= product.imageUrl%><%}%>">
                        </div>

                        <div class="form-group">
                            <label>Price</label>
                            <input type="text" class="form-control" name='price' value="<% if (edited){%><%= product.price%><%}%>">
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            
                            <textarea class="form-control" name="description" cols="10" rows="10"><%if(edited){%><%= product.description %><%}%></textarea>
                            
                        </div>

                        <% if (edited) { %>
                            <input type="hidden" name="productId" value="<%= product._id %>">
                        <% } %>   

                        <button type="submit" class="btn btn-primary">
                            <% if (edited) { %>
                                Edit Product
                                <% } else{ %>
                                    Create Product
                                    <% } %>                        
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <%- include('../include/end.ejs') %>