<%- include('../include/header.ejs') %>
    <%- include('../include/navigation.ejs') %>
        <div class="container">
            <div class="row">
                <% if (items.length > 0) { %>
                    <% for (let item of items) { %>
                        <div class="col-md-4 col-xs-12 col-sm-6 mt-3">
                            <div class="card">
                                <img class="card-img-top" src="<%= item.imageUrl %>" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= item.title %>
                                    </h5>
                                    <p>price: <%= item.price%></p>
                                    <p class="card-text">
                                        <%= item.description %>
                                    </p>
                                    <a href="/admin/add-product/<%= item._id%>?edited=true" class="btn btn-primary">Edit</a>
                                    <form action="/admin/product/delete/<%= item._id%>" method="POST">
                                        <button href="#" class="btn btn-primary mt-2">Delete</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <% } } else { %>
                            <h1>No product .</h1>
                            <% } %>
            </div>
        </div>
        <%- include('../include/end.ejs')%>