<%- include('include/header.ejs') %>
<%- include('include/navigation.ejs') %>
        
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <h1>404 page not found.</h1>
                        </div>
                </div>
        </div>

<%- include('include/end.ejs') %>